project/pipeline/pl_web_activity.json
{
	"name": "pl_web_activity",
	"properties": {
		"activities": [
			{
				"name": "Rest API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Rest API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Rest API').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "setting data value",
								"value": {
									"value": "@item()['ID Nation']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append each value",
								"value": {
									"value": "@variables('setting data value')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "final list",
								"value": {
									"value": "@variables('append each value')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"setting data value": {
				"type": "String"
			},
			"append each value": {
				"type": "Array"
			},
			"final list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-27T04:33:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}